NODE_PORT=5000

POSTGRES_USER=bz_test
POSTGRES_PASSWORD=bz_test
POSTGRES_DB=bz_test
POSTGRES_PORT=3003

TYPEORM_URL=postgres://bz_test:bz_test@127.0.0.1:3003/bz_test
TYPEORM_SYNCHRONIZE=true
TYPEORM_LOGGING=false

REDIS_PORT=6380
REDIS_URL=redis://:MaxPayne1%21@localhost:6380